# Virtual env and secrets
.venv/
.env

# Bytecode and compiled
__pycache__/
*.py[cod]
*.log

# Local logs, data, and Qdrant
logs/
qdrant_data/
data/
bge-reranker-v2-m3-onnx-o3-cpu/

# IDE and editor configs
.vscode/

# Other files
**/tmp.py
demo.py
generation_eval_*
construct_eval_excel.py